*, *::after, *::before {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.cursor-poiner {
  cursor: pointer;
}

button {
  cursor: pointer;
}

body {
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
  background-color: #EEF2F9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card {
  background-color: #ffff;
  border-radius: 1rem;
  padding: 5rem;
}

.card__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
}

.card__container {
  width: 700px;
}

.card__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card__shipping {
  color: #ffff;
  background-color: #191847;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 0.625rem;
  padding: .25rem .5rem;
  border-radius: 1.25rem;
}

.card__product-name {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

.card__price {
  font-size: 1.125rem;
  text-decoration: line-through;
  font-family: 'Roboto', sans-serif;
}

.card__discount-price {
  font-size: 3rem;
  font-weight: 700;
}

.card__discount-deadline-text {
  color: #191847;
  opacity: .6;
  font-size: 0.875rem;
  margin-bottom: 2rem;
}

.card__add-cart {
  color: #ffff;
  font-size: 1.125rem;
  font-weight: 500;
  background-color: #4788E9;
  -webkit-box-shadow: 0px 7px 0px #1C57EE;
          box-shadow: 0px 7px 0px #1C57EE;
  border-radius: .5rem;
  padding: 1rem;
  margin-bottom: 2rem;
}

.card__stock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: .5rem;
          column-gap: .5rem;
  margin-bottom: 2rem;
}

.card__stock-icon {
  width: 0.8125rem;
  height: 0.8125rem;
  background-color: #00D98B;
  border-radius: 50%;
}

.card__stock-text {
  font-size: 0.875rem;
  font-weight: 500;
}

.card__footer-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1rem;
          column-gap: 1rem;
}

.card__footer-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 0.625rem;
          column-gap: 0.625rem;
  padding: 1rem;
  border: 2px solid #C9C9DA;
  border-radius: .5rem;
}

.card__footer-text {
  font-size: 1.125rem;
  font-weight: 500;
}
/*# sourceMappingURL=index.css.map */