$html-font-size: 16px;
@function stripUnit($value) {
    @return $value / ($value * 0 + 1);
}
@function rem($pxValue) {
    @return #{stripUnit($pxValue) / stripUnit($html-font-size)}rem;
}

*,*::after,*::before{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    background-color: #EEF2F9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    background-color: #ffff;
    border-radius: 1rem;
    padding: 5rem;

    &__container{
        display: grid;
        grid-template-columns: 1fr 2fr;
        column-gap: 2rem;
    }


    &__img{

    }

    &__container{
        width: 700px;
    }

    &__shipping{
        font-size: 14px;
        font-weight: 600;
        background-color: #191847;
        color: #ffff;
        padding: .25rem .5rem;
        border-radius: rem(20px);

    }
}


